.total{
    background: #274cc7;
    width: 100%;
    height: 90rem;
    position: relative;
   
    
}

.tituloCarousel{

    padding-top: 50px;
    color: rgb(0, 255, 255);
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 3.5rem;
    margin-top: 30px;
    
}

/* .tituloCarousel h3{
    font-size: 3rem;
} */

.VEN{
    color: rgb(240, 187, 12);
    font-family: 'Amatic SC', cursive;
    font-family: 'Itim', cursive;
}

.container-corusel{
    width: 100%;
    height: 100%;
}

.carouselHouse{
    width: 100%;
    height: 60.5rem;
    border-radius: 5px;
    object-fit: cover;
    
}

.carouselHouse1{
    
    margin: auto;
    background: #274cc7ec;
    width: 90%;
    height: 65%;
    border: solid rgb(206, 37, 212) 20px;
    border-radius: 30px;
    margin-top: 120px;
    box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
    
    
}

.zorro{
    position: absolute;
    top: -1%;
    right:-8%;
    width: 40%;
    height: 35%;
    
}

.wave1{
height: 100px;
width: 100%;

}
.wave2{
 height: 150%;
 width: 100%;
 
}
.wave3{
stroke: none;
 fill: #9ece1bfa;
}



/* responsive */

@media(max-width: 400.98px){

    .total{
        background: #274cc7;
        width: 100%;
        height: 530px;
       
        
    }
    .tituloCarousel{
      
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 20px;
        margin-top: -50px;
        margin-bottom: 105px;
        
        
    }

    .tituloCarousel h3{
        font-size: 25px;
        margin: 10px;
    }

    .carouselHouse{
        width: 100%;
        height: 210px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 95%;
        height: 250px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
    
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }

    .zorro{
        position: absolute;
        top: 17%;
        left: 35%;
        width: 80%;
        height: 34%;
        z-index: 1;
    }
}





@media screen and (min-width: 401px) and (max-width: 578.98px){
    .total{
        background: #274cc7;
        width: 100%;
        height: 600px;
       
        
    }
    .tituloCarousel{
      
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 20px;
        margin-top: -50px;
        margin-bottom: 100px;
        
        
    }

    .tituloCarousel h3{
        font-size: 30px;
        margin: 10px;
    }

    .carouselHouse{
        width: 100%;
        height: 250px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 95%;
        height: 290px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
       
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }

    .zorro{
        position: absolute;
        top: 15%;
        left: 35%;
        width: 77%;
        height: 29%;
        z-index: 1;
    }
}


@media screen and (min-width: 579px) and (max-width: 767.98px){

    .total{
        background: #274cc7;
        width: 100%;
        height: 790px;
       
        
    }
    .tituloCarousel{
      
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 25px;
        margin-top: -20px;
        margin-bottom: 90px;
        
        
    }

    .tituloCarousel h3{
        font-size: 30px;
        margin: 10px;
    }

    .carouselHouse{
        width: 100%;
        height: 390px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 95%;
        height: 430px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }

    .zorro{
        position: absolute;
        top: 20px;
        left: 430px;
        width: 500px;
        height: 300px;
        z-index: 1;
    }

    
   

}



@media screen and (min-width: 768px) and (max-width: 833.99px){

    .total{
        background: #274cc7;
        width: 100%;
        height: 790px;
       
        
    }
    .tituloCarousel{
      
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 25px;
        margin-top: -20px;
        margin-bottom: 90px;
        
        
    }

    .tituloCarousel h3{
        font-size: 30px;
        margin: 10px;
    }

    .carouselHouse{
        width: 100%;
        height: 390px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 95%;
        height: 430px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }

    .zorro{
        position: absolute;
        top: 20px;
        left: 430px;
        width: 500px;
        height: 300px;
        z-index: 1;
    }

    
        
  
   

}
      
      
      
      
      
      
      
      
      
      
@media screen and (min-width: 834px) and  (max-width: 1023.98px) {

    .total{
        background: #274cc7;
        width: 100%;
        height: 790px;
       
        
    }
    .tituloCarousel{
      
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 28px;
        margin-top: -50px;
        margin-bottom: 100px;
        
        
    }

    .tituloCarousel h3{
        font-size: 30px;
        margin: 10px;
    }

    .carouselHouse{
        width: 100%;
        height: 390px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 95%;
        height: 430px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
        margin-top: 0px;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }

    .zorro{
        position: absolute;
        top: -05px;
        left: 500px;
        width: 500px;
        height: 310px;
        z-index: 1;
    }

   


}



      
      
@media screen and (min-width: 1024px) and  (max-width: 1240.99px) {
      
    .total{
        background: #274cc7;
        width: 100%;
        height: 820px;
       
        
    }
    .tituloCarousel{
      
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 35px;
        margin-top: -50px;
        margin-bottom: 100px;
        
        
    }

    .tituloCarousel h3{
        font-size: 30px;
        margin: 10px;
    }

    .carouselHouse{
        width: 100%;
        height: 450px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 95%;
        height: 490px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
        margin-top: 0px;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }

    .zorro{
        position: absolute;
        top:  3px;
        left: 650px;
        width: 500px;
        height: 310px;
        z-index: 1;
    }

    
}  



@media screen and (min-width: 1241px) and  (max-width: 1368.99px) {

    .total{
        background: #274cc7;
        width: 100%;
        height: 75rem;
        position: relative;
       
        
    }
    
    .tituloCarousel{
    
        padding-top: 50px;
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 45px;
        margin-top: 30px;
        
    }
    
    .tituloCarousel h3{
        font-size: 40px;
    }
    
    .VEN{
        color: rgb(240, 187, 12);
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
    }
    
    .carouselHouse{
        width: 100%;
        height: 600px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 90%;
        height: 640px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
        margin-top: 120px;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }
    
    .zorro{
        position: absolute;
        top: 2%;
        right:-18%;
        width:  55%;
        height: 36%;
        
    }

  

}



@media screen and (min-width: 1369px) and  (max-width: 1452px) {

    .total{
        background: #274cc7;
        width: 100%;
        height: 1200px;
        position: relative;
       
        
    }
    
    .tituloCarousel{
    
        padding-top: 50px;
        color: rgb(0, 255, 255);
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
        font-size: 45px;
        margin-top: 30px;
        
    }
    
    .tituloCarousel h3{
        font-size: 40px;
    }
    
    .VEN{
        color: rgb(240, 187, 12);
        font-family: 'Amatic SC', cursive;
        font-family: 'Itim', cursive;
    }
    
    .carouselHouse{
        width: 100%;
        height: 600px;
        border-radius: 5px;
        object-fit: cover;
        
    }
    
    .carouselHouse1{
        
        margin: auto;
        background: #274cc7ec;
        width: 90%;
        height: 640px;
        border: solid rgb(206, 37, 212) 20px;
        border-radius: 30px;
        margin-top: 120px;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .8);
        
        
    }
    
    .zorro{
        position: absolute;
        top: 10px;
        right:-190px;
        width: 750px;
        height: 450px;
        
    }


   


}


