.footer{
    background: #dd3838;  


    height: 350px;
    padding: 60px 30px 0px 0;
    margin: auto;
    overflow: hidden;
    
    
}

.contenedor-footer{
    display: flex;
   justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
    border-bottom: 2px solid #ccc;
    height: 150px;
    margin-left: 120px;

}

.content-foo{
    text-align: center;

}

.content-foo h4{
   color: rgb(255, 255, 255);
   border-bottom: 3px solid #346b68;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(255, 255, 255);
    
 }
 .titulo-final{
     text-align: center;
     font-size: 24px;
     margin: 20px 0 0 0;
     color: #fffbfb;
     font-size: 15px;
 }


    
.mapa{
     width: 350px;
     height: 100px;
     border: 1px solid red;
     border-radius: 10px;
 }






 @media(max-width: 400.98px){

    .footer{
    background: #dd3838;  
    height: 470px;
    padding: 0px 0 0px 0;
    margin: auto;
    overflow: hidden;
    
    }

    .contenedor-footer{
        display: flex;
       justify-content: space-between;
       flex-direction: column;
        width: 80%;
        margin: auto;
        padding-bottom: 0px;
        /* border-bottom: 1px solid #ccc; */
        height: 250px;
 
        
    
    }

    .content-foo{
        text-align: center;
    
    
    }

    .titulo-final{
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
        color: #fffbfb;
        margin-top: 170px;
        font-size: 15px;
    }

    .mapa{
        width: 300px;
        height: 120px;
        border: 1px solid red;
        border-radius: 10px;
        margin-bottom: 20px;
    }




 }


 @media screen and (min-width: 401px) and (max-width: 578.98px){

    .footer{
        background: #dd3838;  
        height: 470px;
        padding: 0px 0 0px 0;
        margin: auto;
        overflow: hidden;
        
        }
    
        .contenedor-footer{
            display: flex;
           justify-content: space-between;
           flex-direction: column;
            width: 80%;
            margin: auto;
            padding-bottom: 0px;
            /* border-bottom: 1px solid #ccc; */
            height: 250px;
     
            
        
        }
    
        .content-foo{
            text-align: center;
        
        
        }
    
        .titulo-final{
            text-align: center;
            font-size: 24px;
            margin: 20px 0 0 0;
            color: #fffbfb;
            margin-top: 170px;
            font-size: 15px;
        }
    
        .mapa{
            width: 340px;
            height: 130px;
            border: 1px solid red;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    
    
    
     
  
  }
  
  
  
  
  @media screen and (min-width: 579px) and (max-width: 812.98px){
  
    .footer{
        background: #dd3838;  
        height: 350px;
        padding: 40px 30px 0px 30px;
        margin: auto;
        overflow: hidden;
        
        
    }
    
    .contenedor-footer{
        display: flex;
       justify-content: space-between;
        width: 100%;
        margin: auto;
        border-bottom: 2px solid #ccc;
        height: 150px;
        /* margin-left: 20px; */
    
    }
    
    .content-foo{
        text-align: center;
        font-size: 12px;
    
    }
    
    .content-foo h4{
        color: rgb(255, 255, 255);
        border-bottom: 3px solid #346b68;
        font-size: 20px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    
    .content-foo p{
        color: rgb(255, 255, 255);
        
     }
     .titulo-final{
         text-align: center;
         font-size: 20px;
         margin: 20px 0 0 0;
         color: #fffbfb;
         font-size: 15px;
     }
    
    
     .mapa{
         width: 250px;
         height: 100px;
         border: 1px solid red;
         border-radius: 10px;
     }
    
  
  }
  
  
  
  
  
  
  
  
  @media screen and (min-width: 813px) and  (max-width: 1111.98px) {
  
    .footer{
        background: #dd3838;  
        height: 350px;
        padding: 40px 30px 0px 30px;
        margin: auto;
        overflow: hidden;
        
        
    }
    
    .contenedor-footer{
        display: flex;
       justify-content: space-between;
        width: 100%;
        margin: auto;
        border-bottom: 2px solid #ccc;
        height: 150px;
        /* margin-left: 20px; */
    
    }
    
    .content-foo{
        text-align: center;
        font-size: 12px;
    
    }
    
    .content-foo h4{
        color: rgb(255, 255, 255);
        border-bottom: 3px solid #346b68;
        font-size: 20px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    
    .content-foo p{
        color: rgb(255, 255, 255);
        
     }
     .titulo-final{
         text-align: center;
         font-size: 20px;
         margin: 20px 0 0 0;
         color: #fffbfb;
         font-size: 15px;
     }
    
    
     .mapa{
         width: 250px;
         height: 100px;
         border: 1px solid red;
         border-radius: 10px;
     }
    
    
    
    
    
  }
  
  
  @media screen and (min-width: 1112px) and  (max-width: 1380.99px) {
  
    
    
  }  
     
    