



.imgPrincipal{
 max-width: 100vw;
 width: 100%;
 height: 100%;
}

.nube{
 
  width: 14% ;
  height: 16%;
  position: absolute;
  top: 10%;
  left: 30%;
  animation: move 20s infinite linear alternate;
}

.nube1{
  width: 14%;
  height: 16%;
  position: absolute;
  top: 20%;
  right: 1%;
  animation: move 20s infinite linear alternate;
  
       
  
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

  


/* Responsive */

@media(max-width: 400.98px){
  .imgPrincipal{
    width: 100%;
    height: 13.75rem;
   }
   .nube{
    width: 10%;
    height: 5%;
    position: absolute;
    top: 10%;
    left: 30%;
    animation: move 20s infinite linear alternate;
  }
  
  .nube1{
    width: 10%;
    height: 5%;
    position: absolute;
    top: 10%;
    right: 1%;
    animation: move 20s infinite linear alternate;
  }
  @keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
  }

    
}







@media screen and (min-width: 401px) and (max-width: 578.98px){

  .imgPrincipal{
    width: 100%;
    height: 13.75rem;
   }

   .nube{
    width: 12%;
    height: 7%;
    position: absolute;
    top: 10%;
    left: 30%;
    animation: move 20s infinite linear alternate;
  }
  
  .nube1{
    width: 12%;
    height: 7%;
    position: absolute;
    top: 15%;
    right: 1%;
    animation: move 20s infinite linear alternate;
  }


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250px);
  }
}

   
  
   

}




@media screen and (min-width: 579px) and (max-width: 812.98px){

  .imgPrincipal{
    width: 100%;
    height: 450px;
  }

  .nube{
     width: 100px;
     height: 80px;
    position: absolute;
    top: 0px;
    left: 130px;
    animation: move 30s infinite linear alternate;
  }

  .nube1{
    width: 100px;
    height: 80px;
    position: absolute;
    top: 15px;
    right: 80px;
    animation: move 30s infinite linear alternate;
        
    
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-350px);
  }
}



}








@media screen and (min-width: 813px) and  (max-width: 1111.98px) {

  .imgPrincipal{
    width: 100%;
    height: 500px;
  }

   .nube{
     width: 200px;
     height: 120px;
    position: absolute;
    top: 70px;
    left: 130px;
    animation: move 35s infinite linear alternate;

  }

.nube1{
  width: 200px;
  height: 120px;
  position: absolute;
  top: 70px;
  right: 80px;
  animation: move 30s infinite linear alternate;
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-450px);
  }
}
   
  
}


@media screen and (min-width: 1112px) and  (max-width: 1380.99px) {

  .imgPrincipal{
    width: 100%;
    height: 680px;
   }
   
   .nube{
    position: absolute;
    top: 50px;
    left: 600px;
    animation: move 35s infinite linear alternate;
   }
   
   .nube1{
    position: absolute;
    top: 250px;
    right: 0rem;
    animation: move 30s infinite linear alternate;
           
   }
   
   @keyframes move {
       from {
         transform: translateX(0);
       }
       to {
         transform: translateX(-420px);
       }
     }
   
     
}  
   