



.imgPrincipal{
 width: 100%;
 height: 900px;
}

.nube{
    position: absolute;
    top: 50px;
    left: 600px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

.nube1{
    position: absolute;
    top: 250px;
    right: 0rem;
    animation-name: move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
        
    
}

@keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-1420px);
    }
  }

  .venado{
    width: 420px;
    height: 250px;
    position: absolute;
    top: 750px;
    left: 50px;

  }


/* Responsive */

  @media(max-width: 400.98px){
    .imgPrincipal{
      width: 100%;
      height: 220px;
     }

     .nube{
       width: 60px;
       height: 50px;
      position: absolute;
      top: 0px;
      left: 130px;
      animation-name: move;
      animation-duration: 35s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-fill-mode: backwards;
  }
  
  .nube1{
      width: 60px;
      height: 50px;
      position: absolute;
      top: 15px;
      right: 80px;
      animation-name: move;
      animation-duration: 35s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-fill-mode: backwards;
          
      
  }


  @keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-400px);
    }
  }

      .venado{
       width: 130px;
       height: 70px;
       top: 250px;
       left: -15px;
       z-index: 1;
      }
  }







@media screen and (min-width: 401px) and (max-width: 578.98px){

  .imgPrincipal{
    width: 100%;
    height: 250px;
   }

   .nube{
     width: 80px;
     height: 60px;
    position: absolute;
    top: 0px;
    left: 130px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

.nube1{
    width: 80px;
    height: 60px;
    position: absolute;
    top: 15px;
    right: 80px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
        
    
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}

    .venado{
     width: 140px;
     height: 80px;
     top: 270px;
     left: -10px;
    }
  
   

}




@media screen and (min-width: 579px) and (max-width: 812.98px){

  .imgPrincipal{
    width: 100%;
    height: 450px;
   }

   .nube{
     width: 100px;
     height: 80px;
    position: absolute;
    top: 0px;
    left: 130px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

.nube1{
    width: 100px;
    height: 80px;
    position: absolute;
    top: 15px;
    right: 80px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
        
    
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}

    .venado{
      position: absolute;
     width: 200px;
     height: 120px;
     top: 400px;
     left: 10px;
    }
  
    
  
   

}








@media screen and (min-width: 813px) and  (max-width: 1111.98px) {

  .imgPrincipal{
    width: 100%;
    height: 500px;
   }

   .nube{
     width: 200px;
     height: 120px;
    position: absolute;
    top: 70px;
    left: 130px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

.nube1{
    width: 200px;
    height: 120px;
    position: absolute;
    top: 70px;
    right: 80px;
    animation-name: move;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: backwards;
        
    
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}

    .venado{
      position: absolute;
     width: 250px;
     height: 140px;
     top: 450px;
     left: -50px;
    }
  
    
  
   




  
   
  
}


@media screen and (min-width: 1112px) and  (max-width: 1380.99px) {

  .imgPrincipal{
    width: 100%;
    height: 680px;
   }
   
   .nube{
       position: absolute;
       top: 50px;
       left: 600px;
       animation-name: move;
       animation-duration: 35s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
       animation-play-state: running;
       animation-fill-mode: backwards;
   }
   
   .nube1{
       position: absolute;
       top: 250px;
       right: 0rem;
       animation-name: move;
       animation-duration: 30s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
       animation-play-state: running;
       animation-fill-mode: backwards;
           
       
   }
   
   @keyframes move {
       from {
         transform: translateX(0);
       }
       to {
         transform: translateX(-1420px);
       }
     }
   
     .venado{
       width: 350px;
       height: 200px;
       position: absolute;
       top: 550px;
       left: 0px;
   
     }
}  
   
  