.paralax{

 
    background: #c0c0aa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(184, 100%, 55%, 0.87), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(327, 100%, 50%, 0.116), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
      width: 100%;
      height: 800px;
      
    
      
  
} 

  .wave9{
    height: 150px;
   
   
   
    
}

.wave10{
     height: 100%;
     width: 100%;
     
}

.wave11{
    stroke: none;
     fill: #e7e4e2;
}
  

.wave12{
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    }

    .wave13{
     height: 100%;
     width: 100%;
     
    }

    .wave14{
    stroke: none;
     fill: #dd3838;
    }

    .wavePersonal{
      stroke: none;
       fill: rgb(141, 45, 133);
  }


    @media(max-width: 400.99px){
        .paralax{

 
            background: #c0c0aa;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, hsla(184, 100%, 55%, 0.87), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, hsla(327, 100%, 50%, 0.116), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              object-fit: cover;
              background-attachment: fixed;
              position: relative;
              height: 400px;
              width: 100%;
              border: 20px;
              
          
        } 

       

        
    }

    @media screen and (min-width: 401px) and (max-width: 578.98px){

      .paralax{

 
        background: #c0c0aa;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(184, 100%, 55%, 0.87), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(327, 100%, 50%, 0.116), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        background-attachment: fixed;
          position: relative;
          height: 500px;
          width: 100%;
          border: 20px;
          
      
    } 
       
    
    }

    
    
    
    
    
    @media screen and (min-width: 579px) and (max-width: 812.98px){
    
      .paralax{

 
        background: #c0c0aa;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(184, 100%, 55%, 0.87), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(327, 100%, 50%, 0.116), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        background-attachment: fixed;
          position: relative;
          height: 600px;
          width: 100%;
          border: 20px;
          
      
    } 
       
    
    }
    
    
    
    
    
    
    
 
    
    
  @media screen and (min-width: 1112px) and  (max-width: 1380.99px) {
  
    .paralax{

      background: #c0c0aa;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, hsla(184, 100%, 55%, 0.87), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, hsla(327, 100%, 50%, 0.116), hsla(60, 15%, 71%, 0)), url(../img/casa-sincable_opt.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-size: cover;
      object-fit: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      position: relative;
        width: 100%;
        height: 700px;
        
    } 

}  
       
      



   
    
