.portafolio{

    background: #e7e4e2;  
    position: relative;
}


.contenedor1{
    height: 1150px;
    padding: 0px 0;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
    display: flex;
     flex-direction: column;
     position: relative;
}




.logo2{
    width: 10%;
    height: 200px;
    margin: auto;
    display: flex;
   
    
}

    
    
    .galeria-port{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    
    .imagen-port{
        width: 24%;
        height: 320px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
        border-radius: 5px;
    
    }
    
    .imagen-port > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        
    }
    
    .hover-galeria{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(0);
        /* background: url(../img/dorao600.jpg); */
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .oso-polar{
        width: 1000px;
        height: 650px;
        position: absolute;
        top: 730px;
        left: 100px;
    }

    .zorrilla{
        width: 700px;
        position: absolute;
        top: 178px;
        right: 140px;
    }


    .oso{
        width: 750px;
        height: 500px;
        position: absolute;
        top: 60px;
        left: 0px;
    }


    
    .hover-galeria img{
        width: 50px;
    
    }
    
    .hover-galeria p{
        color: #fff;
    }

    .imagen-port:hover .hover-galeria{
        transform: scale(1);
    }    




    .wave6{
        height: 150px;
       
       
       
        
    }
    
    .wave7{
         height: 100%;
         width: 100%;
         
    }
    
    .wave8{
        stroke: none;
         fill: #274cc7fd;
    }
    

    @media(max-width: 400.98px){

        .portafolio{
            position: relative;
        }


        .contenedor1{
            height: 2740px;
            width: 100%;
            max-width: 800px;
            margin: auto;
            position: relative;
            
       
        }

        .logo2{
            width: 100px;
            height: 100px;
        
            
        }


    
    .imagen-port{
        width: 84%;
        height: 300px;
        margin: auto;
        margin-bottom: 10px;
        cursor: pointer;
        box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
        border-radius: 5px;
    
    }
    
    .imagen-port > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
     
        
    }

    .oso-polar{
        width: 370px;
        height: 250px;
        position: absolute;
        top: 2578px;
        left: 0px;
    }

    .zorrilla{
        width: 280px;
        position: absolute;
        top: 190px;
        right: -50px;
    }


    .oso{
        width: 350px;
        height: 200px;
        position: absolute;
        top: 140px;
        left: -95px;
    }


    .wave6{
        height: 100px;
       
       
       
        
    }
    
    .wave7{
         height: 100%;
         width: 100%;
         
    }
    
    .wave8{
        stroke: none;
         fill: #274cc7fd;
    }
      
        
    
}




@media screen and (min-width: 401px) and (max-width: 578.98px){

    .portafolio{
        position: relative;
    }


    .contenedor1{
        height: 3590px;
        width: 100%;
        max-width: 800px;
        margin: auto;
        position: relative;
        
   
    }

    .logo2{
        width: 120px;
        height: 120px;
        
        
       
    }

    

.imagen-port{
    width: 84%;
    height: 390px;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
    border-radius: 5px;

}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 
    
}

.oso-polar{
    width: 560px;
    height: 420px;
    position: absolute;
    top: 3303px;
    left: -70px;
}

.zorrilla{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 230px;
    right: -50px;
}

.oso{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 210px;
    left: -105px;
}



}




@media screen and (min-width: 579px) and (max-width: 666.98px){

    .contenedor1{
        height: 850px;
        padding: 0px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        display: flex;
         flex-direction: column;
         position: relative;
    }
    
    
    
    
    .logo2{
        width: 18%;
        height: 140px;
        display: flex;
        margin: auto;
        
       
       
        
        
    }
    
    
    .portafolio{
    
        background: #e7e4e2;  
        
        
    
        }
        
        .galeria-port{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
        .imagen-port{
            width: 24%;
            height: 150px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
            border-radius: 5px;
        
        }
        
        .imagen-port > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            
        }
        
        .hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
        }

        .oso-polar{
            width: 500px;
            height: 380px;
            position: absolute;
            top: 600px;
            left: 80px;
        }

        .zorrilla{
            width: 500px;
            position: absolute;
            top: 195px;
            right: -120px;
        }

        .oso{
            width: 450px;
            height: 330px;
            position: absolute;
            top: 129px;
            left: -115px;
        }
        
        .hover-galeria img{
            width: 50px;
        
        }
        
        .hover-galeria p{
            color: #fff;
        }
    
        .imagen-port:hover .hover-galeria{
            transform: scale(1);
        }    




 

          
    
    }


    @media screen and (min-width: 667px) and (max-width: 767.99px){

        .contenedor1{
            height: 43rem;
            padding: 0px 0;
            width: 90%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
            display: flex;
             flex-direction: column;
             position: relative;
        }
        
        
        
        
        .logo2{
            width: 18%;
            height: 140px;
            display: flex;
            margin: auto;
            
           
           
            
            
        }
        
        
        .portafolio{
        
            background: #e7e4e2;  
            
            
        
            }
            
            .galeria-port{
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            
            .imagen-port{
                width: 24%;
                height: 150px;
                margin-bottom: 10px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
                border-radius: 5px;
            
            }
            
            .imagen-port > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                
            }
            
            .hover-galeria{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                transform: scale(0);
                transition: transform .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            
            }
    
            .oso-polar{
                width: 500px;
                height: 380px;
                position: absolute;
                top: 62%;
                left: 10%;
            }
    
            .zorrilla{
                width: 500px;
                position: absolute;
                top: 195px;
                right: -120px;
            }
    
            .oso{
                width: 450px;
                height: 330px;
                position: absolute;
                top: 129px;
                left: -115px;
            }
            
            .hover-galeria img{
                width: 50px;
            
            }
            
            .hover-galeria p{
                color: #fff;
            }
        
            .imagen-port:hover .hover-galeria{
                transform: scale(1);
            }    
    
    
    
    
     
    
              
        
        }
    
    
@media screen and (min-width: 768px) and (max-width: 833.99px){

    .contenedor1{
        height: 800px;
        padding: 0px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        display: flex;
         flex-direction: column;
         position: relative;
    }
    
    
    
    
    .logo2{
        width: 18%;
        height: 150px;
        display: flex;
        margin: auto;
        margin-bottom: 0px;
       
       
        
        
    }
    
    
    .portafolio{
    
        background: #e7e4e2;  
        
        
    
        }
        
        .galeria-port{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
        .imagen-port{
            width: 24%;
            height: 200px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
            border-radius: 5px;
        
        }
        
        .imagen-port > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            
        }
        
        .hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
        }
        
        .hover-galeria img{
            width: 50px;
        
        }
        
        .hover-galeria p{
            color: #fff;
        }
    
        .imagen-port:hover .hover-galeria{
            transform: scale(1);
        }    


        .oso-polar{
            width: 580px;
            height: 440px;
            position: absolute;
            top: 500px;
            left: 150px;
        }

        .zorrilla{
            width: 500px;
            height: 300px;
            position: absolute;
            top: 185px;
            right: -90px;
        }

        .oso{
            width: 650px;
            height: 400px;
            position: absolute;
            top: 80px;
            left: -170px;
        }


}
      
      
      
      
      
      
      
      
      
      
@media screen and (min-width: 834px) and  (max-width: 1023.98px) {

    .portafolio{
    
        background: #e7e4e2;
        position: relative;
        
    }


    .contenedor1{
        height: 950px;
        padding: 0px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        display: flex;
         flex-direction: column;
         position: relative;
    }
    
    
    
    
    .logo2{
        width: 18%;
        height: 180px;
        margin: auto;
        display: flex;
       
        
    }
    
    
    
        
        .galeria-port{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-top: 100px;
        }
        
        .imagen-port{
            width: 24%;
            height: 230px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
            border-radius: 5px;
        
        }
        
        .imagen-port > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            
        }
        
        .hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
        }
        
        .hover-galeria img{
            width: 50px;
        
        }
        
        .hover-galeria p{
            color: #fff;
        }
    
        .imagen-port:hover .hover-galeria{
            transform: scale(1);
        }    
    

        .oso-polar{
            width: 830px;
            position: absolute;
            top: 560px;
            left: 30px;
        }

        .zorrilla{
            width: 500px;
            position: absolute;
            top: 235px;
            right: -100px;
        }

        .oso{
            width: 550px;
            height: 400px;
            position: absolute;
            top: 115px;
            left: -120px;
        }
    

}



      
      
@media screen and (min-width: 1024px) and  (max-width: 1367px) {
      
    .portafolio{
    
        background: #e7e4e2;
        position: relative;
        
    }


    .contenedor1{
        height: 1050px;
        padding: 0px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        display: flex;
         flex-direction: column;
         position: relative;
    }
    
    
    
    
    .logo2{
        width: 18%;
        height: 200px;
        margin: auto;
        display: flex;
       
        
    }
    
    
    
        
        .galeria-port{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-top: 100px;
        }
        
        .imagen-port{
            width: 24%;
            height: 280px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
            border-radius: 5px;
        
        }
        
        .imagen-port > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            
        }
        
        .hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
        }
        
        .hover-galeria img{
            width: 50px;
        
        }
        
        .hover-galeria p{
            color: #fff;
        }
    
        .imagen-port:hover .hover-galeria{
            transform: scale(1);
        }    
    

        .oso-polar{
            width: 850px;
            position: absolute;
            top: 690px;
            left: 100px;
        }

        .zorrilla{
            width: 600px;
            position: absolute;
            top: 215px;
            right: -90px;
        }

        .oso{
            width: 700px;
            height: 480px;
            position: absolute;
            top: 70px;
            left: -160px;
        }
    
}  














@media screen and (min-width: 1112px) and  (max-width: 1380px) {

    .portafolio{
    
        background: #e7e4e2;
        position: relative;
        
    }


    .contenedor1{
        height: 1050px;
        padding: 0px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        display: flex;
         flex-direction: column;
         position: relative;
    }
    
    
    
    
    .logo2{
        width: 18%;
        height: 250px;
        margin: auto;
        display: flex;
       
        
    }
    
    
    
        
        .galeria-port{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-top: 100px;
        }
        
        .imagen-port{
            width: 24%;
            height: 300px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0 , .5);
            border-radius: 5px;
        
        }
        
        .imagen-port > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            
        }
        
        .hover-galeria{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
        }
        
        .hover-galeria img{
            width: 50px;
        
        }
        
        .hover-galeria p{
            color: #fff;
        }
    
        .imagen-port:hover .hover-galeria{
            transform: scale(1);
        }    
    

        .oso-polar{
            width: 850px;
            position: absolute;
            top: 690px;
            left: 100px;
        }

        .zorrilla{
            width: 600px;
            position: absolute;
            top: 265px;
            right: -0px;
        }

        .oso{
            width: 800px;
            height: 480px;
            position: absolute;
            top: 125px;
            left: -160px;
        }
    
    
        
        
  

}








  

 

  

